.login-container {
    padding: 20px 20px;
    padding-top: 20vh;
    max-width: 800px;
    margin: auto;
}

.login-card {
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 80%;
}

.button-submit {
    margin-top: 20px;
}
